
.activity-container {
    width: 100%;
    border-width: 0 1px 1px 0;
    border-color: rgb(225 225 225);
    border-style: solid;
    overflow-y: scroll;
  }

  .activity-container::-webkit-scrollbar {    
    width: 2px;
  }
  
  .activity-container::-webkit-scrollbar-track {
    background: rgb(26 50 76);
    border-radius: 4px;
  }
  
  .activity-container::-webkit-scrollbar-thumb {
    background: rgb(26 50 76);
    border-radius: 4px;
  }
  
  .activity-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

  .top-tabs {
    display: flex;
    border-bottom: 1px solid #ccc;

  }
  
  .top-tab {
    padding: 10px 20px;
    cursor: pointer;
    color: #555;
  }
  
  .top-tab:hover {
    background-color: #f0f0f0;
  }
  
  .top-tab.active {
    border-bottom: 2px solid #000;
    font-weight: bold;
    color: #000;
  }
  

  .activity-section {
    padding: 1rem;
  }
  

  .activity-tabs {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
  }
  
  .activity-tab {
    display: flex;
    justify-content: space-between;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    width: 160px;
    cursor: pointer;

    align-items: center;

  }

  .activity-tab .left-green{
    display: flex;
    background-color: rgb(226 251 229);
    padding: 10px 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .activity-tab .left-grey{
    display: flex;
    background-color: rgb(219 219 219);
    padding: 10px 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .activity-tab .right{
    padding: 10px 10px;
    width: 100%;
  }

  .activity-tab:hover {
    background-color: #f0f0f0;
  }

  .log-call-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .side-by-side {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .form-col {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
  }
  
  label {
    font-weight: 600;
    font-size: 12px;
  }
  
  input,
  select,
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font: inherit;
    width: 100%;
  }
  
  .submit-btn {
    width: 100px;
    padding: 8px 12px;
    background-color: #1a324c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  