.content {
  display: flex;
  height: 100%;
}

.activities {
  display: flex;
}

.content-description {
  max-width: 800px;
  width: 45%;
  border-width: 0 1px 1px 0;
  border-color: rgb(225 225 225);
  border-style: solid;
  display: flex;
  flex-direction: column;
}

.content-header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.content-header p {
  color: #6b7280;
  font-size: 14px;
}

.content-header h1 {
  font-size: 24px;
  font-weight: bold;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.profile span {
  font-size: 16px;
}

.profile .event {
  margin-left: 16px;
}

.buttons button {
  background-color: #d1fae5;
  color: #047857;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
}

.nav {
  border-bottom: 1px solid #e5e7eb;
  padding: 0px 10px;
}

.nav a {
  text-decoration: none;
  color: #6b7280;
  padding-bottom: 8px;
  margin-right: 16px;
  display: inline-block;
}

.nav a.active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}

.nav a span {
  background-color: #ef4444;
  color: white;
  border-radius: 9999px;
  padding: 2px 8px;
  font-size: 12px;
  margin-left: 4px;
}

.address {
  height: 100%;
  padding: 10px;
}

.content-description .details {
  border-bottom: 1px solid #e5e7eb;
}

.content-description .details .grid,
.content-description .address .grid {
  padding: 5px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.content-description .details p,
.content-description .address p {
  margin: 0;
  color: grey;
}

.content-description .details .label,
.content-description .address .label {
  color: black;
}

.content-description .content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.content-description .info {
  display: flex;
  align-items: center;
  color: #6b7280;
}

.content-description .edit-button {
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a324c;
  border-radius: 4px;
}
