.navbar{
    display: flex;
    width: 100%;
    background-color: rgb(26 50 76);
    padding: 5px 10px;
    color: white;
}

.title-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.title-box .title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation-search .search{
    background-color: white;
    border-radius: 8px;
    padding: 4px 8px;
}

.navigation-search .search input{
    border: none;
}

.navigation-search .search input:focus{
    outline: none;
}

.navigation-search div{
    display: flex;
}

.navigation-search{
    display: flex;
    padding: 0 15px;
    margin: 0 20px;
}

.icons{
    border-width:0 2px 0 2px ;
    border-color: rgb(90 110 134);   
    border-style: solid;
}

