.main-page {
  display: flex;
  height: calc(100% - 55px);
}
.container {
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
}

.headerInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
