.activity-logs{
  width: 50%;
}

.activity-logs p {
  border-bottom: 1px solid rgb(225 225 225);
  padding: 5px;
}

.timeline {
  position: relative;
  padding: 20px;
  border-width: 0 1px 1px 0;
  border-color: rgb(225 225 225);
  border-style: solid;
  overflow: auto;
  max-width: 100%;
}
.timeline::before {
  content: "";
  position: absolute;
  left: 89px;
  top: 0;
  bottom: 0;
  border-left: 2px dashed #ccc;
  z-index: 0;
}
.timeline h2 {
  font-size: 16px;
  margin-bottom: 20px;
  padding-left: 70px;
}
.entry {
  display: grid;
  grid-template-columns: 60px 20px auto;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.date {
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  color: grey;
  margin-right: 10px;
}
.circle {
  width: 10px;
  height: 10px;
  background: #fff;
  border: 2px solid #003366;
  border-radius: 50%;
  justify-self: center;
  z-index: 1;
}
.details {
  padding-left: 10px;
}
.time {
  font-size: 12px;
  color: #666;
}
.title {
  font-weight: bold;
  font-size: 14px;
}
.desc {
  font-size: 14px;
  color: #333;
}
